<%- include("../partials/admin/header") %>

<table>
    <tr><th style="text-align: center;">Set your bitcoin address</th></tr>
    <br>
</table>
<table>
    <tr><td><h2 style="text-align: center;" class="text-success"><% var message %> <%= message %></h2></td></tr>
</table>

<br><br>
<form action="/admin/bitcoinAddress" method="POST" enctype="multipart/form-data">
    <label for="">Enter bitcoin address</label>
    <input type="text" name="bitcoinAddress"  value="<%= admin.bitcoinAddress %>" placeholder="YourBitcoinAddressmwGAiHnxQWP8J2" autofocus>
    <br><br>
    <label for="">Choose barcode picture</label>
    <input type="file" name="barcode" style="all: initial">
    <div style="text-align: center;"><button class="btn btn-success">Set</button></div>
</form>


<table>
    <tr><td>Current Bar Code</td>
        
    </tr>
    <tr>
        <td><img src="<%= admin.barcode %>" alt="" style="display: block; margin: auto; width:50%"></td>
    </tr>
    <tr><td>Current Address: <strong>
        <% if(admin.bitcoinAddress == ""){ %>
            none set
        <%}else{%>
            <%= admin.bitcoinAddress %>
        <% } %>
        </strong></td></tr>
    
</table>

<%- include("../partials/admin/footer") %>