
<%- include("../partials/admin/header") %>

<style>
    body {
        color: #000 !important;
    }
</style>
<% var message %>
<h1 class="text-success" style="text-align: center;"><%= message %></h1>
<h3>Requested Withdrawals: <%= user.username %></h3><br>

<% if(user.deposit.length > 0 ){ %>
    <% user.deposit.forEach(each =>{ %>
        <% if(each.withdrawStatus == "Pending" || each.withdrawStatus == "Declined" ||  each.withdrawStatus == "Confirmed"){ %>
        <table cellspacing=1 cellpadding=2 border=0 width=100% class=line>
            <tr>
                <td class=item>
                    <table cellspacing=1 cellpadding=2 border=0 width=100%>
                        <tr>
                            <td colspan=3 align=center><b><%= each.plan %></b></td>
                        </tr>
                        <tr>
                            <td class=inheader>Plan</td>
                            <td class=inheader width=200>Amount Spent ($)</td>
                            <td class=inheader width=100 nowrap>
                                <nobr>Hourly Profit (%)</nobr>
                            </td>
                            
                        </tr>
                        <tr>
                            <td class=item><%=  each.plan %></td>
                            <td class=item align=right>$<%=  each.amount %>+</td>
                            <td class=item align=right><%=  each.profit %></td>
                        </tr>
                    </table>
                    <br>
                    <table cellspacing=1 cellpadding=2 border=0 width=100%>
                        <tr>
                            <form action="/admin/withdrawals/update" method="post">
                                <input type="hidden" name="id" value="<%= each._id %>">
                                <input type="hidden" name="userId" value="<%= user._id %>">
                            <td colspan=4><b>Status: 
                                <select name="withdrawStatus" id="">
                                    <option value="<%= each.withdrawStatus %>"><%= each.withdrawStatus %></option>
                                    <option value="Pending">Pending</option>
                                    <option value="Confirmed">Confirmed</option>
                                    <option value="Declined">Declined</option>
                                </select>
                            </b></td>

                            <td>
                                <button class="btn btn-warning">Update</button>
                                
                            </td>
                            <tr><td>Withdrawal Method: <b><%= each.withdrawMethod %></b></td>
                                <% if(each.withdrawMethod == "bitcoinMethod"){ %>
                                    <td>address: <b><%= user.bitcoin %></b></td>
                                <% }else{ %>
                                    <td>Account Number: <b><%= user.bankAccountNumber %></b></td>
                                    <td>Bank Name: <b><%= user.bankName %></b></td>
                                    <td>Routing Number: <b><%= user.routingNumber %></b></td>
                                    <td>Swift Code: <b><%= user.swiftCode %></b></td>
                                <% } %>
                            
                            </tr>
                            </form>
                        </tr>
                    </table>
                    <br>
                </td>
            </tr>
        </table>
        <% } %>
    <% }) %>

<% }else{ %>
    <p>No deposits made!</p>
<% } %>

<%- include("../partials/admin/footer") %>
