<%- include("../partials/admin/header") %>
<h3 style="color:black">Withdrawals</h3>

<h3 style="color:green"><% var message %> <%= message %></h3>
<table>
    <thead>
        <tr>
            <th>Username</th>
            
            <th>View</th>
        </tr>
    </thead>
    <tbody>
        <tbody>
            <% user.forEach(each =>{%>
                <% each.deposit.forEach(deposit=>{ %>
                    <% if(deposit.withdrawStatus == "Pending" || deposit.withdrawStatus == "Confirmed" || deposit.withdrawStatus == "Declined"){ %>
                        <tr>
                            <td><%= each.username %></td>
                            <td><a href="/admin/withdrawals/<%= each._id %>" class="btn btn-primary"> <i class="fa fa-eye"></i></a></td>
                            <td><%= each.deposit.length %></td>
                        </tr>
                    <% } %>
                <% }) %>
                
            <%}) %>
        </tbody>
    </tbody>
</table>


<%- include("../partials/admin/footer") %> -->