<%- include("./partials/user/header") %>


    <div class="row">

        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title mb-4">Recent Packages</h4>

                    <div class="table-responsive">
                        <table class="table table-centered">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Tracking ID .</th>
                                <th scope="col">Package Type</th>
                                <th scope="col">Status</th>
                                <th scope="col" colspan="2">Option</th>
                            </tr>
                            </thead>
                            <tbody>
                                    
                                    <% if(package.length > 0){ %>
                                        <% package.forEach((each, index, arr) =>{ %>
                                            <tr>
                                                <td><%= index +1 %></td>
                                                <td>
                                                    <a href="/package-details/<%= each._id %>" class="text-body font-weight-medium"><%= each._id %></a>
                                                </td>
                                                <td><%= each.package_type %></td>
                                                <% if(each.package_status  == "Pending"){ %>
                                                    <td> <small><i class="fa fa-circle text-warning"></i></small><%= each.package_status %></td>
                                                <% } else if(each.package_status  == "Clearing"){ %>
                                                    <td> <small><i class="fa fa-circle text-info"></i></small><%= each.package_status %></td>
                                                <% }else if(each.package_status  == "Checking" ){ %>
                                                    <td> <small><i class="fa fa-circle text-info"></i></small><%= each.package_status %></td>
                                                <% }else if(each.package_status  == "On Hold" ){ %>
                                                    <td> <small><i class="fa fa-circle text-secondary"></i></small><%= each.package_status %></td>
                                                <% }else if(each.package_status  == "In Transit" ){ %>
                                                    <td> <small><i class="fa fa-circle text-primary"></i></small><%= each.package_status %></td>
                                                <% }else{ %>
                                                    <td> <small><i class="fa fa-circle text-success"></i></small><%= each.package_status %></td>
                                                <% } %>
                                                
                                                <td><a href="/package-details/<%= each._id %>" class="btn btn-primary btn-sm">See More</a></td>
                                            </tr>
                                        <% }) %>
                                   <% } else{ %>
                                        
                                   <% }%>
                                    
                            </tbody>
                        </table>
                    </div>


                </div>
            </div>
        </div>
    </div>
    <!-- end row -->
                </div>
                <!-- End Page-content -->

<%- include("./partials/user/footer") %>